h1 {
  padding-left: 29rem;
  font-family: "Courier New", Courier, monospace;
}
h3 {
  padding-left: 5rem;
  padding-right: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #808080;
}
p {
  border: 2px solid black;
  margin-left: 5rem;
  margin-right: 5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
img {
  border: 2px solid blue;
  margin-left: 5rem;
  margin-right: 5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
fieldset {
  background-color: #c5d5cb;
  margin-right: 5rem;
  margin-left: 5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
section {
  border-bottom: 2px solid red;
  margin-top: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
}
nav {
  margin-top: 1rem;
  padding-left: 30rem;
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
}
nav a {
  font-size: 1.5rem;
  color: red;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
nav a:hover {
  background-color: black;
  color: red;
}
