body {
  font-family: "Sofia", sans-serif;
}

h1 {
  font-family: Luminari, fantasy;
  font-family: "Audiowide", sans-serif;
  background-color: red;
  padding-left: 26rem;
  border: 5px solid white dotted;
}
h1 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
p {
  border: 2px solid grey;
  padding-left: 20rem;
  margin-right: 2rem;
  margin-left: 2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

a {
  font-family: Luminari, fantasy;
  text-decoration: none;
  font-weight: bold;
  color: yellow;
}
a:link {
  font-family: Luminari, fantasy;
  font-weight: bold;
  text-decoration: none;
  color: green;
}
a:visited {
  color: black;
  font-size: 2rem;
  font-weight: normal;
}
a:hover {
  color: orange;
  text-decoration: none;
  background-color: black;
}
nav li {
  .border: 2px solid blue;
  font-weight: bold;
  width: 10rem;
  display: inline-block;
  margin-right: 10rem;
  margin-left: 5rem;
  margin-bottom: 3rem;
}
nav a {
  font-size: 1.5rem;
  color: red;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

img {
  float: right;
  margin-right: 26rem;
  margin-top: 2px;
  border: 5px dotted red;
  border: 2px solid red;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

fieldset {
  background-color: #c5d5cb;
  margin-right: 2rem;
  margin-left: 2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
h2 {
  font-family: Luminari, fantasy;
  background-color: red;
  border: 2px solid black;
  padding-left: 20rem;
}
cite {
  padding-left: 49rem;
  font-family: "Sofia", sans-serif;
}
